<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Results | Popularity Meter 2.0</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="/static/js/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/js/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/js/libs/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
	<nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Popularity Meter 2.0</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/contact">Contact</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="jumbotron">
		<div class="container">
			<h3>Your score is <%= pop %>&#37;</hh3>
			<h4><%=byline%></h4>
			<a id="facebook-post" href="#">Post to Facebook?</a>
			<img src="static/img/<%=image%>.png" height="100"/>
			<h5><%=desc%></h5>
		</div>
	</div>

	<hr />
	<footer>
	<div class="text-center">
		 &copy; 2015
	</div>
	</footer>
	<div id="fb-root"></div>
	<script src="/static/js/libs/jquery/dist/jquery.min.js"></script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script>
		FB.init({
			appId  : '<%=app_id%>',
			status : true, // check login status
	   		cookie : true, // enable cookies to allow the server to access the session
		});
	</script>
	<script>
		$('#facebook-post').click(function() {
			var pop = <%=pop%>;
			var body = "just scored "+(pop)+"% on the Popularity Meter.  Find yours at http://goo.gl/oL7jfX";
			FB.api('/me/feed', 'post', { message: body }, function(response) {
				if (!response || response.error) {
					alert('Error occured:'+ JSON.stringify(response.error));
				} else {
					alert("Post successful!");
				}
			});
		})
 	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
